body, html {
  height: 100%;
  margin: 0;
}

:root {
  font-family: monospace;

  color: white;
  height: 100%;
}

.BackImage {
  /* The image used */
  background-image: url("resources/41Q1YWWRKEL.jpg");
  
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.BackText {
  background-color: rgba(0, 0, 0, 0.4);

  color: white;
  font-weight: bold;

  border: 3px solid #f1f1f1;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 2;
  -webkit-animation: fadein 1.5s;

  width: 900px;
  height: 600px;
}

.BackBackText {
  color: white;
  font-weight: bold;

  border: 3px solid #f1f1f1;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 3;
  -webkit-animation: fadein 1.5s;

  width: 900px;
  height: 600px;
}

.BackBackText > h3 {
  font-size: 30px;
  padding-left: 25px;
}

.BackBackText > h4 {
  padding-left: 35px;
  font-size: 20px;
  color: #20C20E ;
}

.BackBackText > h5 {
  font-size: 20px;
  color: #89CFF0;
  padding-left: 45px;
}

.BackBackText > h6 {
  font-size: 15px;
  padding-left: 45px;
}

.BackBackText > h6 > a {
  font-size: 15px;
  color: white;
}

.BackBackText > h6 > a:hover {
  font-size: 15px;
  color: red;
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
